@{
    ViewBag.Title = "Что такое Bizpulse?";
}

<script type="text/javascript">
    About.Init();
</script>

<div id="about_slider_back_wrapper">
    <div id="about_slider_back">
        <div id="about_slider">
            <div id="small_buttons">
                <a id="btn_start_working" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
                <a id="btn_demo" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
            </div>
            
            <div id="about_slider_prev"></div>
            <div id="about_slider_next"></div>

            <div class="clear"></div>

            <div id="about_slider_container" style="width: 10000px; height: 392px;">
                
                <div class="slide">
                    <div class="left_quote" style="top: 22px;"></div>
                    <div class="quote_content" style="left: 35px; top: 24px;">
                        Bizpulse поможет Вам <b class="blue_text">достигать бизнес-цели</b> намного быстрее                        
                    </div>
                    <div class="right_quote" style="left: 493px; top: 22px;"></div>
                
                    <div style="position: relative; top: 90px; left: 475px; font-size: 26px; height: 34px; margin-bottom: -34px;">
                        <b>Хватит терять время и деньги</b>
                        <div style="font-size: 20px; margin-top: 2px;">из-за неэффективного исполнения процессов</div>
                    </div>

                    <ul style="position: relative; top: 170px; left: 523px; width: 390px; height: 134px; margin-bottom: -134px">
                        <li style="padding-bottom: 10px;">Повышайте планы продаж</li>
                        <li style="padding-bottom: 10px;">Сокращайте затраты</li>
                        <li style="padding-bottom: 10px;">Увеличивайте оборачиваемость товаров</li>
                    </ul>

                    <div style="position: relative; left: 475px; top: 285px; font-size: 15px; width: 430px; height: 30px; margin-bottom: -30px;">
                        Настройте свои процессы, чтобы выигрывать у конкурентов
                    </div>

                    <img src="/Content/Img/Bag.png" alt="" style="margin-top: 83px; margin-left: 76px; width: 331px; height: 296px;"/>
                </div>

                <div class="slide">
                    <div class="left_quote" style="top: 22px; left: 40px;"></div>
                    <div class="quote_content" style="left: 75px; top: 24px;">
                        Bizpulse позволяет выстраивать <b class="blue_text">мобильные продажи</b>                        
                    </div>
                    <div class="right_quote" style="left: 465px; top: 22px;"></div>

                    <div style="position: relative; top: 90px; left: 475px; font-size: 26px; height: 34px; margin-bottom: -34px;">
                        <b>Скорость обработки клиента выше</b>
                        <div style="font-size: 20px; margin-top: 2px;">если под рукой всегда актуальная информация</div>
                    </div>

                    <ul style="position: relative; top: 170px; left: 523px; width: 390px; height: 134px; margin-bottom: -134px">
                        <li style="padding-bottom: 10px;">Сократите бумажную работу</li>
                        <li style="padding-bottom: 10px;">Упростите процесс приема заказа</li>
                        <li style="padding-bottom: 10px;">Принимайте актуальные заказы</li>
                    </ul>

                    <div style="position: relative; left: 475px; top: 285px; font-size: 15px; width: 430px; height: 30px; margin-bottom: -30px;">
                        Выше скорость обработки клиента – выше планы продаж
                    </div>

                    <img src="/Content/Img/Tablet.png" alt="" style="margin-top: 83px; margin-left: 76px; width: 352px; height: 313px;"/>
                </div>

                <div class="slide">
                    <div class="left_quote" style="top: 22px; left: 20px;"></div>
                    <div class="quote_content" style="left: 54px; top: 24px;">
                        В Bizpulse можно принимать заказы на <b class="blue_text">ожидаемые к поставке</b> товары                        
                    </div>
                    <div class="right_quote" style="left: 567px; top: 22px;"></div>

                    <div style="position: relative; top: 90px; left: 475px; font-size: 26px; height: 34px; margin-bottom: -34px;">
                        <b>Сокращая время хранения товара</b>
                        <div style="font-size: 20px; margin-top: 2px;">снижаете издержки и повышаете прибыль</div>
                    </div>

                    <div style="position: relative; top: 180px; left: 515px; width: 390px; height: 134px; margin-bottom: -134px; line-height: 1.4; font-size: 16px;">
                        Bizpulse разделяет работу склада и офиса. Офис заказывает, покупает и продает новую партию, пока склад принимает и отгружает предыдущую.
                    </div>

                    <div style="position: relative; left: 500px; top: 285px; font-size: 15px; width: 430px; height: 30px; margin-bottom: -30px;">
                        Bizpulse делает работу склада и офиса асинхронной
                    </div>

                    <img src="/Content/Img/Tractor.png" alt="" style="margin-top: 92px; margin-left: 76px; width: 402px; height: 292px;"/>
                </div>

                <div class="slide">
                    <div class="left_quote" style="top: 22px; left: 10px;"></div>
                    <div class="quote_content" style="left: 45px; top: 24px;">
                        Для перехода к управлению в Bizpulse требуется <b class="blue_text">минимум усилий</b> и времени                        
                    </div>
                    <div class="right_quote" style="left: 601px; top: 22px;"></div>
                
                    <div style="position: relative; top: 90px; left: 440px; font-size: 22px; height: 34px; margin-bottom: -34px;">
                        <b>Отдайте заботу о серверах профессионалам</b>
                        <div style="font-size: 18px; margin-top: 3px;">хватит тратить энергию на непрофильные задачи</div>
                    </div>

                    <ul style="position: relative; top: 170px; left: 490px; width: 400px; height: 134px; margin-bottom: -134px">
                        <li style="padding-bottom: 10px;">Исключите затраты на владение ИТ-системой</li>
                        <li style="padding-bottom: 10px;">Платите только за использование</li>
                        <li style="padding-bottom: 10px;">Повысьте безопасность ваших данных</li>
                    </ul>

                    <div style="position: relative; left: 445px; top: 285px; font-size: 15px; width: 430px; height: 30px; margin-bottom: -30px;">
                        Всю заботу о серверах мы берем на себя
                    </div>

                    <img src="/Content/Img/Folders.png" alt="" style="margin-top: 76px; margin-left: 96px; width: 308px; height: 291px;"/>
                </div>

                <div class="clear"></div>

            </div>

        </div>
        
    </div>
    <div id="slider_clouds">&nbsp;</div>
    
    <ul id="slider_switch">
        <li class="selected">Электронный менеджер<span>&nbsp;&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Мобильные продажи<span>&nbsp;&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Асинхронный учет<span>&nbsp;&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Минимум затрат</li>
    </ul>
    
</div>

<div class="clear"></div>

<div id="about_content">
    <table id="feature_table">
        <tr>
            <th style="width: 50%"><span></span> Производство товаров</th>
            <th style="width: 50%"><span></span> Учет продукции</th>
        </tr>
        <tr>
            <td>
                Управляйте своим производством, будь то производство товаров на фабриках по контракту или создание продуктов интеллектуальной собственности. Для каждого случая настраивайте собственный производственный цикл.
            </td>
            <td>
                Ведите учет своей продукции в Bizpulse. Вы сможете контролировать наличие товаров на местах хранения с разграничением собственников этой продукции. 
            </td>
        </tr>
        
        <tr>
            <th><span></span> Взаимоотношения с клиентами</th>
            <th><span></span> Удобный интерфейс</th>
        </tr>
        <tr>
            <td>
                Ведите учет клиентов, сделок и продаж в Bizpulse. Здесь будет сохранена вся история работы с каждым клиентом по каждому договору с ним.
            </td>
            <td>
                Мы очень много работаем над тем, чтобы Вы легко получали всю нужную информацию и в самой удобной форме. Это сохранит много Вашего времени при работе в Bizpulse.
            </td>
        </tr>

        <tr>
            <th><span></span> Размещение и обновление</th>
            <th><span></span> Постоянное развитие</th>
        </tr>
        <tr>
            <td>Эти вопросы Вы можете забыть навсегда. Мы все сделаем за Вас, освободив Вам дополнительное время и усилия на решение задач Вашего бизнеса. К тому же, это не имеет отдельной стоимости, т.е. бесплатно для клиентов Bizpulse.</td>
            <td>
                Bizpulse постоянно развивается, наращивает свою функциональность и улучшает уже имеющиеся возможности. Если сейчас Вам чего-то не хватает, то вскоре это появится в Bizpulse.
            </td>
        </tr>

        <tr>
            <th><span></span> Техническая поддержка</th>
            <th><span></span> Круглосуточная доступность</th>
        </tr>
        <tr>
            <td>Мы выпускаем много материалов, которые помогут Вам разобраться с работой в Bizpulse. А если у Вас возникли дополнительные вопросы, мы незамедлительно на них ответим лично Вам по телефону или по электронным средствам связи.</td>
            <td>
                Вы можете заходить в свой аккаунт Bizpulse из любой точки Мира и в любое время. Мы круглосуточно работаем над тем, чтобы Bizpulse всегда оставался работоспособным.  
            </td>
        </tr>
    </table>
    
    <div id="twitter_feed">
        <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script type="text/javascript">
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 5,
                interval: 30000,
                width: 240,
                height: 518,
                theme: {
                    shell: {
                        background: '#357F9A',
                        color: '#ffffff'
                    },
                    tweets: {
                        background: '#ffffff',
                        color: '#696969',
                        links: '#3D6679'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: false,
                    live: true,
                    behavior: 'all'
                }
            }).render().setUser('bizpulse_erp').start();
        </script>
    </div>

    <div class="clear"></div>

    <div id="large_buttons">
        <a id="btn_start_working" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
        <a id="btn_demo" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
    </div>

</div>


