@{
    ViewBag.Title = "О проекте Bizpulse";
}

@Html.Partial("ContentTopLine")

<div id="company_content">

    <h1>О проекте «Электронный менеджер Bizpulse»</h1>

    <p><b>Электронный менеджер Bizpulse</b> – это специализированная система учета информации по бизнес-процессам торговой компании. При создании Bizpulse использовались знания и опыт аналитиков из действующих российских и зарубежных компаний. Сегодня многие из этих компаний используют Bizpulse в своем операционном учете.</p>

    <p>Электронный менеджер Bizpulse создается с 2010 года. Первое пилотное внедрение Bizpulse состоялось в октябре 2011 в межрегиональной торгово-производственной компании, производящей продукцию под собственным брендом и реализующей ее на всей территории РФ. Эта компания имеет разветвленную сеть представительств во многих регионах России, а также внешние производственные мощности за рубежом.</p>

    <p>В феврале 2012 года была успешно завершена пилотная эксплуатация Bizpulse, а в марте 2012 завершено его бета-тестирование. С этого момента Bizpulse вышел в промышленную эксплуатацию.</p>

    <p>Возможность функционирования как в режиме облачного сервиса, так и в режиме развертывания коробочного приложения в Bizpulse заложена изначально, с момента создания. Первые внедрения Bizpulse были выполнены как коробочные решения, а облачный сервис был запущен в апреле 2012 года. Сейчас Bizpulse может быть приобретен в любом из этих вариантов.</p>

    <p>Электронный менеджер Bizpulse создается командой профессионалов, объединивших свои усилия в компании Empiresoft (ООО «Эмпаер Софт»).</p>

    <p>Следуя своей миссии, «Создавать высококлассные и высокотехнологичные программные системы и обеспечивать их комплексную техническую поддержку, постоянно совершенствуя собственные знания и профессионализм», Empiresoft уделяет большое внимание технологической составляющей Bizpulse.</p> 

    <p><b>Девиз Bizpulse:&nbsp; «Умный, легкий и доступный электронный менеджер».</b></p>

</div>