@{
    ViewBag.Title = "Что может Bizpulse?";
}

<script type="text/javascript">
    Features.Init();
</script>

@Html.Partial("ContentTopLine")

<div id="features_content">
    <input id="tabId" type="hidden" value="@ViewBag.TabId"/> 
    
    <ul id="slider_switch">
        <li class="selected">Контроль производства<span>&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Складской учет<span>&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Учет клиентов и продаж<span>&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Права доступа<span>&nbsp; &#149; &#149; &#149; &#149;</span> <b>></b></li>
        <li>Презентация</li>
    </ul>

    <div class="clear"></div>

    <div id="slide_container">

        @* контроль производства *@
        <table>
            <tr>
                <td>
                    <span></span>Производственный процесс<br />под контролем                
                </td>
                <td>
                    <span></span>Индивидуальный жизненный<br />цикл производства                    
                </td>
            </tr>
            <tr>
                <td class="body">
                    Тратите по нескольку часов в день, чтобы свести информацию по производственному процессу? Испытываете трудности при совместной работе нескольких сотрудников над контрактом? Периодически теряется историческая информация по контрактам прошлых лет?
                </td>
                <td class="body">
                    В Bizpulse каждый производственный контракт имеет индивидуальный жизненный цикл – операционный план производства. План может быть составлен из заданных шаблонов или вручную. Исходя из заданного плана, рассчитываются сроки поставки готовой продукции.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Bizpulse легко решит подобные вопросы – вся плановая и оперативная информация, все документы по контракту, все собрано в едином месте».
                </td>
                <td class="conclusion">
                    «В процессе выполнения заказа на производство Вам будет представлен заданный план и текущие отклонения в визуально удобной форме».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Финансовое планирование<br />заказа
                </td>
                <td>
                    <span></span>Учет всех<br />связанных расходов
                </td>
            </tr>        
            <tr>
                <td class="body">
                    Финансовый план производства состоит из двух частей – общий финансовый план заказа на производство и план совершения платежей. Финансовый план позволяет рассчитать будущую себестоимость каждой единицы продукции. План платежей – контролировать своевременность совершения платежей.
                </td>
                <td class="body">
                    Возникают сложности с отражением всех расходов в себестоимости продукции? В Bizpulse Листы отражения связанных расходов содержат как финансовую, так и операционную информацию. А значит, любые расходы будут учтены и перенесены в себестоимость продукции. По этим расходам также ведется контроль оплаты.                    
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Расчет себестоимости производимой продукции на этапах заключения контракта избавит Вас от массы неожиданностей».
                </td>
                <td class="conclusion">
                    «В Bizpulse можно отразить любые затраты, связанные с производством – от транспортировки до консалтинговых услуг. Все расходы будут учтены в себестоимости».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Контроль совершения<br /> платежей
                </td>
                <td>
                    <span></span>Надежное хранение<br />документов                    
                </td>
            </tr>
            <tr>
                <td class="body">
                    Каждый платеж, связанный с затратами на производство, учитывается в Bizpulse. Каждому платежу задается действующий курс валюты, не зависимо от учетного курса валюты. Bizpulse автоматически учтет расхождения, вызванные разницей курсов, а также отразит их в себестоимости продукции.
                </td>
                <td class="body">
                    Часто теряются документы, связанные с контрактом на производство? Bizpulse предлагает специализированное надежное хранилище любых внешних документов. Все документы связываются с конкретными контрактами и уже никогда не будут потеряны. Более того, Вы получите доступ к документам из любой точки планеты и в любое время суток.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Расчет себестоимости продукции исходя из совершенных платежей представляет наиболее актуальную информацию».
                </td>
                <td class="conclusion">
                    «Все внешние документы в любых форматах будут упорядочены и сохранены в Bizpulse. Вам не придется терять время на поиски нужного файла на компьютере».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Автоматизированный расчет<br />себестоимости
                </td>
                <td>
                    <span></span>Интеграция<br />с товародвижением
                </td>
            </tr>
            <tr>
                <td class="body">
                    Правильно рассчитать себестоимость произведенной продукции, учитывая все затраты и изменения курсов валют – задача не из легких. Но только не для Bizpulse. На ранних стадиях производства Bizpulse рассчитает себестоимость по плановым показателям. По завершению производства, по реально совершенным платежам.
                </td>
                <td class="body">
                    После того, так продукция будет произведена, Вы сможете автоматически принять ее к учету на указанных местах хранения. Для этого в Bizpulse сделаны удобные и прозрачные механизмы интеграции всех данных.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    
                </td>
                <td class="conclusion">
                
                </td>
            </tr>                
        </table>

        @* складской учет *@
        <table>
            <tr>
                <td>
                    <span></span>Количественный и ценовой<br />учет продукции
                </td>
                <td>
                    <span></span>Расширенный учет<br />наличия                     
                </td>
            </tr>
            <tr>
                <td class="body">
                    Испытываете сложности в учете продукции на складах? Периодически теряются товары? Не успеваете за конкурентами делать переоценки? В Bizpulse вести количественный и ценовой учет продукции проще простого. Bizpulse предоставит любую информацию о наличие и ценах.
                </td>
                <td class="body">
                    Bizpulse автоматически ведет двойной учет продукции: логистический и складской. Вы просто фиксируете операции, а Bizpulse сделает все остальное. В итоге Вы сможете оформить продажу еще не поступившей на склад продукции, а также резервировать товары для клиентов.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Сложный бизнес-процесс складского учета продукции с Bizpulse становится простым и прозрачным».
                </td>
                <td class="conclusion">
                    «Разделяя логистический и складской учет продукции, Bizpulse предоставляет актуальную информацию в любой ситуации».
                </td>
            </tr>
        
            <tr>
                <td>
                    <span></span>Контроль собственников<br />учитываемых товаров
                </td>
                <td>
                    <span></span>Мастер<br />переоценок
                </td>
            </tr>
            <tr>
                <td class="body">
                    Имеете несколько организационно-правовых форм? Bizpulse ведет количественный учет не только по местам хранения, но и по организациям собственникам.
                </td>
                <td class="body">
                    Изменения учетных цен продукции очень легко сделать в Bizpulse. Во-первых, вы сможете устанавливать любой период действия цен. Во-вторых, используя правила изменения цен, Bizpulse переоценит товары в несколько кликов мышью. В-третьих, Bizpulse автоматически учтет все изменения цен по всем местам хранения в балансовых отчетах.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Количественный учет продукции выполняется с учетом организаций, тогда как ценовой учет характеризуется только местами хранения».
                </td>
                <td class="conclusion">
                    «Никогда еще переоценка товаров не была такой простой и удобной».
                </td>
            </tr>
        </table>

        @* учет клиентов и продаж *@
        <table>
            <tr>
                <td>
                    <span></span>Все клиенты<br />в единой базе данных
                </td>
                <td>
                    <span></span>Ведение сделок<br />с клиентами
                </td>
            </tr>
            <tr>
                <td class="body">
                    Вы сталкивались с ситуацией, когда уходит менеджер, с ним уходит часть клиентов? Не имеете четко систематизированного и типизированного списка всех клиентов? Информация о Ваших клиентах записана только в блокнотах менеджеров?
                </td>
                <td class="body">
                    Сделка с клиентом – это заключенный договор. Bizpulse предлагает инструменты управления процессами заключения договора (выполнения продажи), исполнения договора и его закрытия.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «В Bizpulse все ваши клиенты будут сохранены в единой базе данных и структурированы по ряду признаков. Это первый и базовый шаг клиент-ориентированной компании».
                </td>
                <td class="conclusion">
                    «Bizpulse предлагает инструменты глубокого контроля коммерческих процессов: от продажи до закрытия договора».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Учет реализаций, оплат и<br />принятых возвратов
                </td>
                <td>
                    <span></span>Контроль<br /> дебиторских задолженностей
                </td>
            </tr>
            <tr>
                <td class="body">
                    Все данные в Bizpulse тесно интегрированы. Так, в качестве реализуемых товаров Вы сможете указывать учитываемую на складах продукцию. Оформлять ее возвраты, вновь принимая продукцию к учету на местах хранения. Фиксировать поступающие оплаты.
                </td>
                <td class="body">
                    Bizpulse очень легко контролирует дебиторскую задолженность каждого клиента. В случае возникновения просрочки платежа, отгрузки товаров такому клиенту будут автоматически остановлены до устранения причин.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Bizpulse предлагает набор тонко продуманных средств для учета комплексного процесса исполнения договора».
                </td>
                <td class="conclusion">
                    «Контроль дебиторской задолженности вместе с Bizpulse не представляет проблем – все выполняется автоматически».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Контроль важнейших<br />условий отгрузок
                </td>
                <td>
                    @*<span></span>*@
                </td>
            </tr>
            <tr>
                <td class="body">
                    В Bizpulse Вы можете установить любые условия отгрузки товаров с помощью корпоративных квот. Квотой задаются такие параметры как скидка, период взаиморасчетов, кредитный лимит и срок отсрочки платежа.
                </td>
                <td class="body">
                
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Bizpulse будет автоматически контролировать все условия отгрузки товаров клиентам, и пресекать их нарушения. »
                </td>
                <td class="conclusion">
                    
                </td>
            </tr>
        </table>

        @* права доступа *@
        <table>
            <tr>
                <td>
                    <span></span>Каждому пользователю<br />свой логин и пароль
                </td>
                <td>
                    <span></span>Ограничение доступа<br />по «вертикали» и «горизонтали»
                </td>
            </tr>
            <tr>
                <td class="body">
                    Вы определяете количество пользователей, которые будут иметь доступ к Вашему аккаунту в Электронном менеджере Bizpulse. Каждому пользователю  создается собственный логин и пароль. После этого Bizpulse будет учитывать, кто какие действия выполнял в рамках аккаунта.
                </td>
                <td class="body">
                    Для каждого пользователя Вы сможете определить набор доступных действий (например, просмотр приходов, отгрузок, изменение принятой оплаты). Но также Вы сможете определять индивидуальные наборы данных, над которыми можно выполнять эти действия.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Контроль доступа пользователей к электронной системе – это важный шаг в обеспечение информационной безопасности».
                </td>
                <td class="conclusion">
                    «С Bizpulse пользователи смогут работать только с нужными им данными и выполнять только нужные им действия».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Назначение прав доступа<br />по ролям
                </td>
                <td>
                    <span></span>Назначение видимости объектов<br />по командам
                </td>
            </tr>
            <tr>
                <td class="body">
                    Для Вашего удобства, мы сделали настройку права доступа по ролями. Вы настраиваете роли, а потом только назначаете эти роли определенным пользователям или лишаете их ролей. Каждый пользователь может обладать неограниченным набором ролей.
                </td>
                <td class="body">
                    Наборы доступных данных для каждого пользователя и операции имеет трехуровневую структуру. Первый уровень – пользовательские данные, второй уровень – командные данные, третий – все имеющиеся данные. Первый и второй уровни для каждого пользователя и команды свои.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Права доступа в Bizpulse настраиваются один раз, и потом передаются от пользователя к пользователю».
                </td>
                <td class="conclusion">
                    «Bizpulse предлагает очень гибкую настройку прав доступа к данным, которая покрывает более 96% различных потребностей».
                </td>
            </tr>

            <tr>
                <td>
                    <span></span>Контроль видимости<br />объектов
                </td>
                <td>
                    <span></span>Визуально удобная<br />настройка 
                </td>
            </tr>
            <tr>
                <td class="body">
                    Bizpulse автоматически определяет наборы данных, в которые попадают все объекты Вашего аккаунта (такие как сделки, накладные, оплаты и т.п.). Но, при необходимости, Вы всегда сможете вручную добавить объект данных в любой другой набор или исключить из него.
                </td>
                <td class="body">
                    В Bizpulse большое внимание уделяется пользовательским интерфейсам. Это касается и настроек прав доступа. При наличие сложной системы прав доступа, интерфейс их настройки является простым и удобным в использовании.
                </td>
            </tr>
            <tr>
                <td class="conclusion">
                    «Права доступа в Bizpulse настраиваются один раз, и потом передаются от пользователя к пользователю».
                </td>
                <td class="conclusion">
                    «Настройка прав доступа интуитивно понятна и не занимает много времени».
                </td>
            </tr>
        </table>

        @* презентация *@
        <div style="margin-top: 45px; width: 970px; float: left">
            <div style="margin: 0px auto; width: 720px;">
                <iframe src="http://www.slideshare.net/slideshow/embed_code/12000250" width="720" height="540" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>                                                         
            </div>
        </div>

        <div class="clear"></div>

    </div>

</div>

