@{
    ViewBag.Title = "Безопасность Bizpulse";
}

@Html.Partial("ContentTopLine")

<div id="security_content">
    <h1>Безопасность в Электронном менеджере Bizpulse</h1>

    <p>Безопасность вводимой Вами информации является одной из первостепенных задач команды Bizpulse. Мы прилагаем массу усилий, решая ее, тем самым, обеспечивая достойный уровень безопасности данных и отказоустойчивости сервиса Bizpulse.</p>

    <h2><span></span>Надежные серверы и дата-центры</h2>
    <p>Серверы Электронного менеджера Bizpulse расположены в европейских надежных дата-центрах. Это значит, что доступ к серверам регулируется европейскими правилами и законами. Надежность и отказоустойчивость дата-центров, отвечает европейским стандартам. </p>

    <h2><span></span>Использование средств криптографической защиты</h2>
    <p>Передача данных между Вашими компьютерами и серверами Bizpulse шифруется и выполняется по защищенным каналам связи (используя самые современные методы, например, протокол SSL). Это значит, что перехват информации является сложно реализуемым, но даже если перехват будет выполнен, то зашифрованная информация не представляет никакой ценности.</p>

    <h2><span></span>Внедрение режима коммерческой тайны</h2>
    <p>В нашей команде внедрен и строго поддерживается режим коммерческой тайны. Доступ к клиентским данным имеет только узкий круг ответственных лиц, и только для целей обеспечения их целостности и безопасности. Помещения их работы отвечают установленным требованиям и ограничены от постороннего доступа.</p>

    <h2><span></span>Резервное копирование данных</h2>
    <p>Регулярное резервное копирование баз данных Bizpulse, в которых хранятся Ваши данные, выполняется автоматически. Резервные копии хранятся на отдельных серверах.  Это обеспечит минимальные потери данных (если такие все-таки будут) в экстраординарных ситуациях.</p>

    <h2><span></span>Использование самых современных технологий</h2>
    <p>При разработке Электронного менеджера Bizpulse применяются самые современные технологии, в том числе, и с точки зрения безопасности и отказоустойчивости системы. </p>

</div>