<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <!-- путь к основному приложению -->
    <add key="AppURL" value="http://localhost:1000"/>
    <!-- путь к сайту -->
    <add key="FrontSiteURL" value="http://localhost:2000"/>
    <!-- путь к демо-версии приложения -->
    <add key="DemoAppURL" value="http://localhost:1000" />

    <!-- Email, с которого отправляются информационные сообщения -->
    <add key="InfoEMail" value="info@bizpulse.ru"/>
    <!--Название отправителя сообщения-->
    <add key="SenderName" value="Bizpulse"/>
    <!--Адрес SMTP-сервера -->
    <add key="SmtpServer" value="smtp.bizpulse.ru"/>
    <!--Имя пользователя на SMTP-сервере-->
    <add key="SmtpLogin" value="info@bizpulse.ru"/>
    
    <add key="DBServerName" value="(local)"/>
    <add key="DBName" value="bizpulse_admin"/>
    <!-- путь к серверу баз данных клиентов -->
    <add key="ClientDBServerName" value="(local)"/>
    <!-- путь к директории с бэкапом шаблонной базы данных клиента -->
    <add key="ClientDBTemplatePath" value="C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\Backup\"/>
    <!-- путь к директории с БД клиента -->
    <add key="ClientDBPath" value="C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\"/>
    
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="ERP.UI.Web.HtmlHelpers"/>
      </namespaces>
    </pages>

    <customErrors mode="On">      
    </customErrors>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>