<!DOCTYPE html>

<html>
<head>
    <title></title>   
</head>
<body>     
    <table width="500px" cellspacing="7" cellpadding="0">        
       <tr bordercolor="#FFFFFF" border="0" align="left">
            <th align="left">
                <a href="http://bizpulse.ru"><img alt="Электронный менеджер Bizpulse" src="http://bizpulse.ru/content/img/Logo.png" border="0"/></a>
            </th>
        </tr>          
        <tr bordercolor="#FFFFFF" align="left" border="0">                                      
            <td align="left">
                <font size="2" color="#444444" face="Tahoma, Arial">
                <br />
                Здравствуйте, {0}.
                <br /><br />
                Вы успешно зарегистрированы в Электронном менеджере Bizpulse.
                <br /><br />
                Ваши учетные данные:
                <br />
                Номер аккаунта: {1}<br />
                Логин: {2}<br />
                Пароль: {3}<br />

                <br />

                Для входа в систему перейдите по ссылке: <br />
                <a href="https://app.bizpulse.ru/User/Login">www.app.bizpulse.ru/User/Login</a>

                <br /><br />
                Пример наполнения справочников и бизнес-сущностей Вы можете посмотреть в нашем <a target="_blank" href="http://demo.bizpulse.ru/User/Login?login=demo&password=bizpulse">Демо-аккаунте</a>.
                
                <br /><br />
                ------------------------------------------------------------                                
                <br />
                Желаем приятной работы,<br />
                Команда Bizpulse<br />
                <a target="_blank" href="http://bizpulse.ru">http://bizpulse.ru</a><br />
                <a href="mailto:support@bizpulse.ru">support@bizpulse.ru</a>

                </font>
            </td>      
        </tr>
    </table>    
</body>
</html>