<!DOCTYPE html>

<html>
<head>
    <title>@RenderSection("Title")</title>
    <link href="/Content/Style/Report.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/Content/Img/favicon.ico" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
</head>
<body>
    <div style="padding: 20px;">
        <div class="report_page">
            @RenderBody()
        </div>
    </div>
</body>
</html>
