@{
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <title>Ошибка Bizpulse</title>
</head>
<body>
    <h2>
        @if (Model != null)
        {
            @Model.Exception.Message
        }
        else
        {
            <text>"Произошла неизвестная ошибка. Повторите попытку позже."</text>
        }
    </h2>
</body>
</html>