@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Страница Bizpulse не найдена</title>
</head>
<body>
    <h2>
        К сожалению, данная страница не найдена.
    </h2>
</body>
</html>