<div id="registration_header">
    <a href="@Bizpulse.Admin.UI.Web.AppSettings.FrontSiteURL">
        <img id="logo" src="/Content/Img/Logo.png" alt="Bizpulse" />
    </a>
            
    <div id="registration_header_content_wrapper">
        <div id="support_title">Техническая поддержка:</div>        
        
        <a id="login_button" href="@Bizpulse.Admin.UI.Web.AppSettings.AppURL/User/Login">Войти</a>

        <div class="clear"></div>

        <ul>
            <li>
                <img src="/Content/Img/phone.png" alt="" />
                +7 8442 600-337</li>
            <li>
                <img src="/Content/Img/e-mail.png" alt="" />
                <a href="mailto:support@bizpulse.ru">support@bizpulse.ru</a></li>
            <li>
                <img src="/Content/Img/skype.png" alt="" />
                <a href="skype:Bizpulse?call">Bizpulse</a></li>
        </ul>               
    </div>

    <div class="clear"></div>
</div>

<div id="blue_line_wrapper">
    <div id="blue_line"></div>
</div>
