@model IEnumerable<ERP.Wholesale.UI.ViewModels.ProductionOrder.ProductionOrderExecutionGraphViewModel>
     
@using ERP.UI.Web.HtmlHelpers

<div class="executionGraph" id="executionGraph">
<div class="top_line"></div>
        
    <div class="grid">
        <table>
            <tr>
                <td><div class="title">График исполнения заказа @Html.Help("/Help/GetHelp_ProductionOrder_Details_ProductionOrderExecutionGraphs")</div></td>
                <td><div></div></td>
            </tr>
        </table> 
                 
    @foreach (var graphData in Model) 
    {
        <div class="graphData" id="graphData-@graphData.BatchId" style="display: none">@graphData.Data</div>
        <div class="graph scheduleGraph" id="graph-@graphData.BatchId" style="background-color: White;
            height: 107px; padding: 15px 0px 20px 0px;"></div>
    }

    </div>
</div>