<div id="content_top_line_wrapper">
    <div id="content_top_line_back"></div>
    
    <div id="small_buttons">
        <a id="btn_start_working" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
        <a id="btn_demo" href="@ERP.FrontSite.UI.Web.AppSettings.AdminAppURL/Client/RegisterEasy"></a>
    </div>

    <div class="clear"></div>
</div>