@{
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <title>Ошибка Bizpulse</title>
    <link rel="shortcut icon" href="/Content/Img/favicon.ico" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="error_content">
        <h2>
            @if (Model != null)
            {
                <text>Ошибка:</text> @Model.Exception.Message
            }
            else
            {
                <text>Произошла неизвестная ошибка. Повторите попытку позже.</text>
            }
        </h2>
        <br />
        <a href="/">На главную</a>
    </div>
</body>
</html>